
<div>
  
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5">
          <h1 class="display-1 text-white animated slideInDown">CONTATE-NOS</h1>
           
      </div>
  </div>
  <!-- Page Header End -->


  <!-- Contact Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
              <h4 class="section-title">CONTATE-NOS</h4>
              <h1 class="display-5 mb-4">vamos entrar em contato</h1>
          </div>
          <div class="row g-5">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="d-flex flex-column justify-content-between h-100">
                      <div class="bg-light d-flex align-items-center w-100 p-4 mb-4">
                          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-dark" style="width: 55px; height: 55px;">
                              <i class="fa fa-map-marker-alt text-primary"></i>
                          </div>
                          <div class="ms-4">
                              <p class="mb-2">Endereço</p>
                              <h3 class="mb-0">zamba 2, rua zona 3, casa S/Nº
                                junto a igreja universal do reino de deus , Nº s/nº</h3>
                          </div>
                      </div>
                      <div class="bg-light d-flex align-items-center w-100 p-4 mb-4">
                          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-dark" style="width: 55px; height: 55px;">
                              <i class="fa fa-phone-alt text-primary"></i>
                          </div>
                          <div class="ms-4">
                              <p class="mb-2">Número de telefone</p>
                              <h3 class="mb-0">+244 928 623 232 / +244 928 623 331</h3>
                          </div>
                      </div>
                      <div class="bg-light d-flex align-items-center w-100 p-4">
                          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-dark" style="width: 55px; height: 55px;">
                              <i class="fa fa-envelope-open text-primary"></i>
                          </div>
                          <div class="ms-4">
                              <p class="mb-2">Endereço de email</p>
                              <h3 class="mb-0">comercial@alvamexx.com</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                  <p class="mb-4">Na Alvamex, valorizamos relações de confiança e proximidade com os nossos clientes. Se pretende saber mais sobre os nossos serviços, solicitar uma proposta ou agendar uma reunião, estamos à disposição para o atender.</p>
                  <form>
                      <div class="row g-3">
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control" id="name" placeholder="Seu Nome">
                                  <label for="name">Seu Nome</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control" id="email" placeholder="Seu Email">
                                  <label for="email">Seu Email</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <input type="text" class="form-control" id="subject" placeholder="Subjectivo">
                                  <label for="subject">Subjectivo</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control" placeholder="Escreve a sua Mensagem" id="message" style="height: 100px"></textarea>
                                  <label for="message">Mensagem</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-primary w-100 py-3" type="submit">ENVIAR MENSAGEM AGORA</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact End -->


  <!-- Google Map Start -->
  <div class="container-xxl pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
      <iframe class="w-100 mb-n2" style="height: 450px;"
      
          src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63080.95530900717!2d13.181491767793721!3d-8.827366736805105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1a51f3005e1d30cb%3A0x25cff6a0ec6b24c2!2sZamba%202%2C%20Luanda!3m2!1d-8.8274648!2d13.2227056!5e0!3m2!1spt-PT!2sao!4v1749905765824!5m2!1spt-PT!2sao"
          frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <!-- Google Map End -->
</div>