<div>
  <!-- MAIN  Carga áerea vantagem e rapidez-->
  <main role="main">
    <!-- TOP SECTION -->
    <section class="spacos">
      <!-- Main Carousel -->
      <div id="my-keen-slider" class="keen-slider">
        <div class="keen-slider__slide ">
          <img class="number-slide" src="./assets/img/carousel-01.jpg">
          <div class="jms container-xxl py-5">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-10 col-lg-8">
                  <h1 class="display-1 text-white animated slideInDown">CONSTRUÍMOS MAIS DO QUE EDIFÍCIOS</h1>
                  <p class="fs-5 fw-medium text-white mb-4 pb-3">construímos um futuro melhor.</p>
                  <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">SABER MAIS</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="keen-slider__slide ">
          <img class="number-slide" src="./assets/img/carousel-02.jpg">

          <div class="jms container-xxl py-5">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-10 col-lg-8">
                  <h1 class="display-1 text-white animated slideInDown">Ações para um futuro sustentável</h1>
                  <p class="fs-5 fw-medium text-white mb-4 pb-3">A empresa Alvamex está comprometido com um mundo
                    melhor, definindo a Sustentabilidade e Inovação como um dos seus eixos estratégicos.</p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="keen-slider__slide ">
          <img class="number-slide" src="./assets/img/carousel-03.jpg">

          <div class="jms container-xxl py-5">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-10 col-lg-8">

                  <h1 class="display-1 text-white animated slideInDown"> Um legado de confiança desde 2020</h1>
                  <p class="fs-5 fw-medium text-white mb-4 pb-3">Saiba mais sobre a nossa história</p>
                  <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">SABER MAIS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Main Carousel -->

    <!-- SECTION 0 -->
    <section>

      <!-- About Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="about-img">
                <img class="img-fluid" src="./assets/img/about-1.jpg" alt="">
                <img class="img-fluid" src="./assets/img/about-3.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <h4 class="section-title">Sobre Nós</h4>
              <h1 class="display-5 mb-4">Especializada na prestação de serviços e fornecimento de soluções</h1>
              <p>uma empresa de direito angolano, criada com o propósito de oferecer soluções técnicas e operacionais a
                instituições públicas, privadas e organizações de diversos setores.</p>
              <p class="mb-4">Com uma atuação marcada pelo profissionalismo e compromisso, prestamos serviços integrados
                que respondem de forma eficaz às exigências do mercado angolano</p>
              <div class="d-flex align-items-center mb-5">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary"
                  style="width: 120px; height: 120px;">
                  <h1 class="display-1 mb-n2" data-toggle="counter-up">5</h1>
                </div>
                <div class="ps-4">
                  <h3>Anos</h3>
                  <h3>Trabalho</h3>
                  <h3 class="mb-0">Experiência</h3>
                </div>
              </div>
              <a class="btn btn-primary py-3 px-5" href="">Ler mais</a>
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

      <!-- Facts Start -->
      <div class="container-xxl py-5">
        <div class="container pt-5">
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                <div class="fact-icon">
                  <img src="./assets/img/icons/icon-13.png" alt="Icon">
                </div>
                <h3 class="mb-3">MISSÃO</h3>
                <p class="mb-0">Oferecer soluções integradas com excelência nas áreas de construção, engenharia,
                  mediação imobiliária e fornecimento de equipamentos, promovendo o desenvolvimento sustentável de
                  Angola</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                <div class="fact-icon">
                  <img src="./assets/img/icons/icon-14.png" alt="Icon">
                </div>
                <h3 class="mb-3">VISÃO</h3>
                <p class="mb-0">Ser uma referência nacional em comércio e serviços técnicos, reconhecida pela
                  competência, integridade e entrega consistente de resultados, contribuindo para o desenvolvimento das
                  comunidades e instituições.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                <div class="fact-icon">
                  <img src="./assets/img/icons/icon-15.png" alt="Icon">
                </div>
                <h3 class="mb-3">VALORES</h3>
                <p class="mb-0">Compromisso com a qualidade, ética e transparência. Inovação contínua e responsabilidade
                  sustentável. Foco no cliente e valorização da equipa, promovendo desenvolvimento e excelência em todos
                  os serviços.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Facts End -->
    </section>

    <!-- SECTION 1 -->
    <section class="" data-aos="zoom-in-up">
      <!-- Service Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Nossos Serviços</h4>
            <h1 class="display-5 mb-4">Focamos em solucionar desafios técnicos e operacionais</h1>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item d-flex position-relative text-center h-100">
                <img class="bg-img" src="./assets/img/service-1.jpg" alt="">
                <div class="service-text p-5">
                  <img class="mb-4" src="./assets/img/icons/icon-6.png" alt="Icon">
                  <h3 class="mb-3">Construção Civil e Obras
                    Públicas
                  </h3>
                  <p class="mb-4">Soluções completas em Construção Civil e Obras Públicas, com qualidade, segurança e
                    foco no cliente.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item d-flex position-relative text-center h-100">
                <img class="bg-img" src="./assets/img/service-2.jpg" alt="">
                <div class="service-text p-5">
                  <img class="mb-4" src="./assets/img/icons/icon-7.png" alt="Icon">
                  <h3 class="mb-3">Arquitetura e Engenharia
                    Civil</h3>
                  <p class="mb-4">Planeamento, projeto e acompanhamento técnico de obras, com foco na eficiência e
                    sustentabilidade.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item d-flex position-relative text-center h-100">
                <img class="bg-img" src="./assets/img/service-3.jpg" alt="">
                <div class="service-text p-5">
                  <img class="mb-4" src="./assets/img/icons/icon-11.png" alt="Icon">
                  <h3 class="mb-3">Fiscalização e gestão de
                    obras</h3>
                  <p class="mb-4">Garantimos qualidade, segurança e cumprimento de prazos na construção, com controle de
                    custos e conformidade técnica.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item d-flex position-relative text-center h-100">
                <img class="bg-img" src="./assets/img/service-4.jpg" alt="">
                <div class="service-text p-5">
                  <img class="mb-4" src="./assets/img/icons/icon-8.png" alt="Icon">
                  <h3 class="mb-3">Mediação e avaliação
                    imobiliária</h3>
                  <p class="mb-4">Somos especialista na intermediação de compra, venda e locação de imóveis, além da
                    avaliação técnica para determinar seu valor
                    de mercado com precisão. </p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item d-flex position-relative text-center h-100">
                <img class="bg-img" src="./assets/img/service-5.jpg" alt="">
                <div class="service-text p-5">
                  <img class="mb-4" src="./assets/img/icons/icon-9.png" alt="Icon">
                  <h3 class="mb-3">Saneamento Básico e
                    Sistemas de Drenagem</h3>
                  <p class="mb-4">Oferecemos soluções em tecnologia e telecomunicações, incluindo infraestrutura de
                    redes, automação e conectividade para
                    empresas e obras, garantindo inovação e eficiência.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item d-flex position-relative text-center h-100">
                <img class="bg-img" src="./assets/img/service-6.jpg" alt="">
                <div class="service-text p-5">
                  <img class="mb-4" src="./assets/img/icons/icon-10.png" alt="Icon">
                  <h3 class="mb-3">Fornecimento de bens e
                    Equipamentos</h3>
                  <p class="mb-4">Oferecemos materiais e equipamentos de qualidade para construção civil, eletricidade e
                    telecomunicações,
                    garantindo eficiência e segurança em cada projeto</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Service End -->
    </section>

    <!-- SECTION 2 -->
    <section class="">
      <!-- Feature Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <h4 class="section-title">Por que nos escolher!</h4>
              <h1 class="display-5 mb-4">Por que você deve confiar em nós?</h1>
              <p class="mb-4">Na Alvamex, unimos experiência, inovação e compromisso para entregar soluções completas e
                eficientes. Somos o parceiro ideal para quem busca qualidade, confiança e resultados sustentáveis.</p>
              <div class="row g-4">
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <img class="flex-shrink-0" src="./assets/img/icons/icon-2.png" alt="Icon">
                    <div class="ms-4">
                      <h3>Excelência e Profissionalismo</h3>
                      <p class="mb-0">Atuamos com altos padrões de qualidade, garantindo resultados eficientes e
                        duradouros.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <img class="flex-shrink-0" src="./assets/img/icons/icon-3.png" alt="Icon">
                    <div class="ms-4">
                      <h3>Inovação e Eficiência</h3>
                      <p class="mb-0">Utilizamos tecnologias e metodologias modernas para entregar soluções eficazes e
                        competitivas.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <img class="flex-shrink-0" src="./assets/img/icons/icon-4.png" alt="Icon">
                    <div class="ms-4">
                      <h3>Compromisso com o Cliente</h3>
                      <p class="mb-0">Colocamos as necessidades dos nossos clientes no centro de tudo o que fazemos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="feature-img">
                <img class="img-fluid" src="./assets/img/about-2.jpg" alt="">
                <img class="img-fluid" src="./assets/img/pq002.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Feature End -->

    </section>

    <!-- SECTION 3 -->




    <!-- Project Start -->
    <div class="container-xxl project py-5">
      <div class="container">

        <a class="s-12 m-6 " href="gallery.html" data-aos="flip-left">
          <img class="full-img" src="./assets/img/portfolio/thumb-1.jpg" alt="" />
        </a>
        <a class="s-12 m-6 " href="gallery.html" data-aos="flip-right">
          <img class="full-img" src="./assets/img/portfolio/thumb-2.jpg" alt="" />
        </a>
        <a class="s-12 m-6 " href="gallery.html" data-aos="flip-left">
          <img class="full-img" src="./assets/img/portfolio/thumb-5.jpg" alt="" />
        </a>
        <a class="s-12 m-6 " href="gallery.html" data-aos="flip-right">
          <img class="full-img" src="./assets/img/portfolio/thumb-4.jpg" alt="" />
        </a>

        <div class="s-12" style="padding-bottom: 10%;">
          <a href="#/galeria" class="btn btn-primary py-3 px-5 mt-1 w-100">VER MAIS FOTOS DA NOSSA GALERIA</a>

        </div>

      </div>
    </div>

    <!-- SECTION 4 -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5" >
      <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h4 class="section-title">Testemunho</h4>
          <h1 class="display-5 mb-4">Clientes Satisfeitos</h1>
        </div>
        <div class="keen-slider text-left" id="my-keen-slider2">
          <div class="item keen-slider__slide">
            <div class="testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
              <div class="testimonial-item text-center"
                data-dot="<img class='img-fluid' src='img/testimonial-1.jpg' alt=''>">
                <p class="fs-5">Incrível como a equipe da empresa superou minhas expectativas! O atendimento
                  foi impecável desde o primeiro contato, e eles realmente entenderam minha visão para o projeto. O
                  resultado final não apenas refletiu exatamente o que eu tinha em mente, como também trouxe um toque
                  criativo que elevou tudo a um nível superior. Sem dúvida, recomendo seus serviços a todos que buscam
                  qualidade e comprometimento.</p>
                <h3>Julio teca </h3>
                <span class="text-primary">CEO / Ocla ROma</span>
              </div>
            </div>
          </div>

          <div class="item keen-slider__slide">
            <div class="testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
              <div class="testimonial-item text-center"
                data-dot="<img class='img-fluid' src='img/testimonial-1.jpg' alt=''>">
                <p class="fs-5">Trabalhar com essa empresa foi uma experiência transformadora. A dedicação e
                  a paixão que eles colocam em cada detalhe é impressionante. Desde o planejamento até a entrega, eles
                  mantiveram uma comunicação aberta e transparente, mantendo-me atualizado em todas as etapas do
                  projeto. O resultado final fala por si só - um trabalho de alta qualidade que atendeu totalmente às
                  minhas necessidades. Mal posso esperar para trabalharmos juntos novamente no futuro!.</p>
                <h3>Lidia Francisco </h3>
                <span class="text-primary">CEO / LJTour</span>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>
    <!-- Testimonial End -->


 
   <!-- Clientes Start -->
   <div class="container-xxl py-5 ">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h4 class="section-title">Clientes</h4>
        <h1 class="display-5 mb-4">Nossos Parceiros</h1>
      </div>
      <div class="keen-slider text-left" id="my-keen-slider4">
        <div class="item keen-slider__slide">
          <div class="slider-img "><img src="./assets/img/parceiro/logo-6.png" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide"> 
          <div class="slider-img "><img src="./assets/img/parceiro/logo-7.png" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide">  
          <div class="slider-img "><img src="./assets/img/parceiro/logo-8.png" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide">  
          <div class="slider-img "><img src="./assets/img/parceiro/logo-9.png" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide">  
           <div class="slider-img "><img src="./assets/img/parceiro/logo-10.png" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide">   
          <div class="slider-img "><img src="./assets/img/parceiro/logo-3.png" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide">    
          <div class="slider-img "><img src="./assets/img/parceiro/logo-12.jpg" class="">
          </div> 
        </div>
        <div class="item keen-slider__slide">  
          <div class="slider-img "><img src="./assets/img/parceiro/logo-4.png" class="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->

  

    <!-- SECTION 5 -->
    <section class="grid margin text-center">
      <div class="m-12 l-4 padding-2x background-dark margin-bottom text-right">
        <h3 class="text-strong text-uppercase margin-bottom-10">VAMOS MANTER CONTATO</h3>
        <p>Siga-nos nas redes sociais e fique por dentro de todas as nossas ações.</p>
      </div>
      <a href="https://web.facebook.com/profile.php?id=61554309039479"
        class="s-12 m-6 l-2 padding vertical-center margin-bottom facebook hover-zoom">
        <i class="icon-sli-social-facebook text-size-60 text-white center"></i>
      </a>
      <a href="https://www.instagram.com/jmdo_oficial/"
        class="s-12 m-6 l-2 padding vertical-center margin-bottom instagram hover-zoom">
        <i class="icon-sli-social-instagram text-size-60 text-white center"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCD_Ys3uFPebB2w6efLOo6TQ"
        class="s-12 m-6 l-2 padding vertical-center margin-bottom youtube hover-zoom">
        <i class="icon-sli-social-youtube text-size-60 text-white center"></i>
      </a>
      <a href="https://www.linkedin.com/in/joaquim-mucanda-despachante-oficial-4507422a4/"
        class="s-12 m-6 l-2 padding vertical-center margin-bottom linkedin hover-zoom">
        <i class="icon-sli-social-linkedin text-size-60 text-white center"></i>
      </a>
    </section>

  </main>
</div>