<div>
  <!-- MAIN -->



    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5">
          <h1 class="display-1 text-white animated slideInDown">Nossos Serviços</h1>
       
      </div>
  </div>
  <!-- Page Header End -->
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img">
            <img class="img-fluid" src="./assets/img/servico002.jpg" alt="">
            <img class="img-fluid" src="./assets/img/servico001.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

          <h1 class="display-5 mb-4">Construção Civil e Obras Públicas</h1>
          <p>A Alvamex oferece um conjunto abrangente de serviços na área de Construção Civil e Obras Públicas, com foco
            em qualidade, cumprimento de prazos e soluções sustentáveis.</p>
          <p class="mb-4">Atuamos em todas as fases do projeto, desde o estudo de viabilidade até à entrega final da
            obra.</p>
          <div class="d-flex align-items-center mb-5">

            <div class="ps-4">
              <h3>Nossos principais serviços incluem:</h3>
              <p> Construção de Edifícios Públicos e Privados

              </p>
              <p> Infraestruturas Urbanas
              </p>
              <p>
                Obras de Engenharia Civil Pesada
              </p>
              <p>
                Reabilitação e Manutenção de Infraestruturas
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <!-- Feature Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-5 mb-4">Arquitetura e Engenharia Civil</h1>
          <p class="mb-4">Na Alvamex, oferecemos soluções completas em Arquitetura e Engenharia Civil, combinando
            criatividade, rigor técnico e uma profunda compreensão das necessidades do mercado angolano. Atuamos desde a
            concepção até a execução de projetos, com foco em eficiência, qualidade e sustentabilidade.</p>
          <div class="row g-4">
          
            <div class="col-12">
              <div class="d-flex align-items-start">
                <img class="flex-shrink-0" src="./assets/img/icons/arquitetura.png" alt="Icon">
                <div class="ms-4">
                  <h3>Arquitetura</h3>
                  <p class="mb-0">Desenvolvimento de projetos arquitetónicos residenciais, comerciais e institucionais,
                    planeamento urbano e soluções sustentáveis adaptadas ao contexto angolano.</p>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="d-flex align-items-start">
                <img class="flex-shrink-0" src="./assets/img/icons/engenheiro.png" alt="Icon">
                <div class="ms-4">
                  <h3>Engenharia Civil</h3>
                  <p class="mb-0">Projetos estruturais, fiscalização e gestão de obras, consultoria técnica e
                    implementação de soluções seguras e eficientes</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="feature-img">
            <img class="img-fluid" src="./assets/img/servico004.jpg" alt="">
            <img class="img-fluid" src="./assets/img/servico003.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature End -->


  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img">
            <img class="img-fluid" src="./assets/img/servico006.jpeg" alt="">
            <img class="img-fluid" src="./assets/img/servico005.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

          <h1 class="display-5 mb-4">Fiscalização e gestão de obras</h1>
          <p>assegurando que todos os projetos sejam executados com qualidade, segurança e dentro dos prazos e
            orçamentos estabelecidos.</p>

          <div class="d-flex align-items-center mb-5">

            <div class="ps-4">
              <h3>Nossas atividades incluem:</h3>
              <p> Acompanhamento técnico e controlo de qualidade</p>
              <p> Verificação da conformidade com os projetos e normas vigentes</p>
              <p>Coordenação entre equipas técnicas e empreiteiros e Monitorização de prazos, custos e materiais</p>
              <p>Relatórios periódicos de progresso e desempenho</p>
            </div>
          </div>

          <p class="mb-4">Com uma abordagem rigorosa e orientada a resultados, garantimos o cumprimento eficiente de cada etapa do projeto, desde o início até a entrega final da obra.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <!-- Feature Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

          <h1 class="display-5 mb-4">Mediação e avaliação imobiliária</h1>
          <p>A Alvamex presta serviços de mediação e avaliação imobiliária com base em critérios técnicos e em conformidade com as normas do setor, oferecendo segurança e transparência em todas as transações.</p>

          <div class="d-flex align-items-center mb-4">

            <div class="ps-4">
              <h3>Nossos serviços incluem:</h3>
              <p> Mediação na compra, venda e arrendamento de imóveis</p>
              <p> Avaliação técnica de bens imóveis para fins comerciais, fiscais, judiciais ou bancários</p>
                <p>Análise de mercado e apoio à tomada de decisão imobiliária</p>
            </div>
          </div>

          <p class="mb-4">Garantimos um serviço imparcial, confiável e orientado ao valor real do imóvel, contribuindo para negociações justas e bem fundamentadas. </p>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="feature-img">
            <img class="img-fluid" src="./assets/img/servico007.jpg" alt="">
            <img class="img-fluid" src="./assets/img/servico008.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature End -->


</div>