<div>
  
 


<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Nossa galeria</h4>
            <h1 class="display-5 mb-4">O nosso portfólio fala por nós <br>
              qualidade, solidez e impacto real.</h1>
        </div>
        <div class="row g-5">
            <div class="wow fadeInUp" data-wow-delay="0.1s">
            
              <section class="grid margin">
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-1.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-2.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-3.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-6.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-4.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-9.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-5.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-7.jpg" alt=""/>
                <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-8.jpg" alt=""/>
              </section>

            </div>
       
        </div>
    </div>
</div>
<!-- Contact End -->

 
</div>


<div>
  <!-- MAIN -->
  <main role="main">
    <!-- TOP SECTION -->
    <header class="grid">
      <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Nossa galeria</h1>
        <p class="text-size-20 text-white text-center center text-uppercase">Alguns dos nossos trabalho no campo de IMPORTAÇÕES e EXPORTAÇÕES de cargas.<br> Trabalhando para o seu melhor .</p>
      </div>
    </header>
  
    <section class="grid margin">
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-1.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-2.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-3.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-11.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-4.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-9.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-5.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-7.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-8.jpg" alt=""/>
    </section>
    
  </main>
  
</div>