<div>
       
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-body footer mt-5 pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-light mb-4">Contacto</h3>
                  <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>zamba 2, rua zona 3, casa S/Nº junto a igreja universal do reino de deus , Nº s/nº</p>
                  <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i>+244 928 623 331</p>
                  <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>comercial@alvamexx.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn btn-square btn-outline-body me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-light mb-4">Serviços</h3>
                  <a class="btn btn-link">Construção</a>
                  <a class="btn btn-link">Arquitetura </a>
                  <a class="btn btn-link">Fiscalização </a>
                  <a class="btn btn-link">Engenharia </a>
                  <a class="btn btn-link">Mediação imobiliária</a>
              </div>
              <div class="col-lg-3 col-md-6">
                <h3 class="text-light mb-4">Links Rápidos</h3>
                <a class="btn btn-link" href="">Sobre Nós</a>
                <a class="btn btn-link" href="">Fale Conosco</a>
                <a class="btn btn-link" href="">Nossos Serviços</a>
                <a class="btn btn-link" href="">Galeria</a>
                <a class="btn btn-link" href="">Suporte</a>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-light mb-4">Onde Estamos?</h3> 
                  <div class="position-relative mx-auto" style="max-width: 400px;">
                  
                        <img class="full-img" src="assets/img/map.svg" alt=""/>
                  
                </div>
              </div>
          </div>
      </div>
      <div class="container-fluid copyright">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a href="#">Alvamex</a>, Todos os direitos reservados
                  </div>
                  <div class="col-md-6 text-center text-md-end">
                      Desenvolvido pela <a href="https://jmsystem.com">JLSystem</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> 
</div>